@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.font-family {
  font-family: "Times New Roman", Times, serif;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}
